body {
    font-family: "Nunito";
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.profile-photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 5px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 3px;
}

h5 {
    font-size: 1.1em;
    text-align: left;
    margin-bottom: 3px;
}

p, ul {
    text-align: left;
    font-size: 0.9em;
}

.links {
    margin-top: 5px;
}

.links a {
    margin: 0 10px;
    font-size: 1.5em;
    color: #333;
    text-decoration: none;
}

.links a:hover {
    color: #1a73e8;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}

table td {
    padding: 5px;
    font-size: 0.9em;
    border-bottom: 1px solid #ddd;
}

table td:first-child {
    width: 30%;
    font-weight: bold;
    text-align: left;
}

table td:last-child {
    text-align: left;
}

/* General link styles */
a {
    text-decoration: none;  /* Removes the underline */
    color: #1a73e8;  /* Change this to your desired color */
}

/* Link hover effect */
a:hover {
    color: #0056b3;  /* Change to a darker shade or another color when hovering */
    text-decoration: underline;  /* Optional: underline on hover */
}
